.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #bf07ac;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.list p input:focus{
    outline: none;
}
.list p span{
    position: absolute;
    right: 10px;
}
.btnst{
    margin: 0 5px;
    font-size: 15px;
    color: white;
    background: rgb(209, 66, 66);
    border:2px solid black;
    border-radius: 100px auto;
    cursor: pointer;
}
.myButton {
	background-color: rgb(209, 66, 66);
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 12px;
	text-decoration:none;
	text-shadow:0px 0px 50px  rgb(209, 66, 66);
}
.myButton:hover {
	background-color: rgb(209, 66, 66);
}
.myButton:active {
	position:relative;
	top:1px;
}

.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}